.campo{
    /* text-decoration: dotted; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-right: 10px;
}
.campo input{
    font-size: 2rem;
    width: 250px;
}