h1{
    text-align: center;
    box-shadow: 0px 2px 15px black;
    width: 95%;
    font-size: 4rem;
    border-radius: 8px;
    color: #DB6767;

}
.container{
    display: flex;
    flex-direction: column;
    background-color: #DB6767;
    border-radius: 10px;
    width: 70%;
    max-height: 73vh;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    gap: 10px;
    margin-top: 5px;
    flex-wrap: wrap;
}
.container ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    gap: 10px;
    overflow-y: scroll;
    
}
.container li{
    border: 4px double #A31717;
    width: 100px;
    padding: 5px;
    list-style: none;
    text-align: center;
}
.container li p{
    color: #5C2C2C;
}
.container li img{
    width: 100%;
}

.container li:hover{
    background-color: rgb(230, 198, 156);
    color: brown;
}


.container .btn{
    background-color: #5C2C2C;
    color: #DB6767;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border: 1px none black;
    padding: 8px;
    transition: 0.8s;
}
.container .btn:hover{
    background-color: #A31717;
    color: beige;
}

@media(max-width:830px){
    .container ul{
        overflow-y: scroll;
    }
}