.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: silver;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.container-de-exibicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
    width: 100vw;
    row-gap: 10px;
}