.master{
    /* background-image: linear-gradient(to right, #5C2C2C, #D41E1E ); */
    background-image: linear-gradient(to right, #0C6DC7, #D41E1E );
    height: 100vh;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.cabecalho .logo{
    width: 30%;
    height: 30%;
}
.cabecalho nav{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.cabecalho nav .togglerButton{
    border: 1px solid #DB6767;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

.cabecalho nav .togglerButton img{
    width: 90%;
}

.container-de-exibicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    row-gap: 10px;
}