body{
    background-color: silver;
    height: 100vh;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.cabecalho .logo{
    width: 30%;
    height: 30%;
}

.container-de-exibicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    row-gap: 10px;
}